
<div class="">
    <div class="position-absolute top-50 start-50 translate-middle">
         <div>
        <h1>Bienvenido al tres en raya</h1>
    </div>
    
    <div>
        <div>
            <h3>Indique su nombre</h3>
        </div>
        <div>
            <form (ngSubmit)="addUser(player1,player2)">
                <p> name </p>
                <input name="name" [(ngModel)]="player1">
                
                <button type="submit"> submit </button>
            </form>
        </div>
       
    </div>
    </div>
   
</div>