

<div class="m-0" style="width: 500px; height: 600px;">
    <div>

    </div>
    <div class=" col-4 row-5">
        <button type="button" class="btn btn-secondary ">1</button>
        <button type="button" class="btn btn-secondary">2</button>
        <button type="button" class="btn btn-secondary">3</button>
        <button type="button" class="btn btn-warning">+</button>
        
        <button type="button" class="btn btn-secondary">4</button>
        <button type="button" class="btn btn-secondary">5</button>
        <button type="button" class="btn btn-secondary">6</button>
        <button type="button" class="btn btn-warning">-</button>
        
        <button type="button" class="btn btn-secondary">7</button>
        <button type="button" class="btn btn-secondary">8</button>
        <button type="button" class="btn btn-secondary">9</button>
        <button type="button" class="btn btn-warning visually-hidden">Warning</button>
        
        
    </div>

</div>