<div *ngIf="auth.user | async as user; else login" class="loginDiv">
  {{user.uid}}-{{user.email}}
  <button (click)="auth.logout()">logout</button>
</div>
<ng-template #login>
  <div class="loginDiv">
    <form class="form">
      <input type="text" name="email" placeholder="ingrese email" [(ngModel)]="auth.email">
    <input type="text" name="password" placeholder="ingrese contraseña" [(ngModel)]="auth.password">
    <button (click)="auth.login()">email login</button>
    <button (click)="auth.glogin()">google Login</button>
    </form>

  </div>
</ng-template>


<router-outlet></router-outlet>
